In [8]:
# 1.input: first name of the email contain username and secong company name in emailid  ex :user@sii.com
# output:compsny name: sii

e = input()
a = e.index("@")
b = e.index(".")
print(a)
print(b)
print("company name is:",e[a+1:b+1])

kiran@goggle.com
5
12
company name is: goggle.

In [28]:
#2. input: ball,and,car
# output: and ,ball,car
a = input()
b = a.split(",")
c = sorted(b)

print(c)

ball,bla,a
['a', 'ball', 'bla']

# set

#### it is collection of unorder and unindexed. and writen in curly brackets

In [46]:
# 3. set
sets={'say','hello',2,'me',3,'times'}
print(sets)

var={'apple','banana','cherry'}
for i in var:
    print(i)
var.add("orange")
print(var)
print(len(var))
a = var.remove("apple")
print(var)
var.discard("banana")
print(var)
var.clear()
print(var)

{2, 3, 'me', 'times', 'say', 'hello'}
banana
cherry
apple
{'banana', 'cherry', 'orange', 'apple'}
4
{'banana', 'cherry', 'orange'}
{'cherry', 'orange'}
set()

In [31]:
# 4.input : 1 2 4 5
# output: 3 find missing letter in between 0 ,n-1
def find_missing_num(lst):
    return [x for x in range(lst[0], lst[-1]+1) if x not in lst]

lst = [1,2,4,5,6,8,9]
print(find_missing_num(lst))

[3, 7]

In [36]:
# 5 remove dulicate num 
def removedup(dup):
    result = []
    for num in dup:
        if num not in result:
            result.append(num)
    return result
dup = [1,2,3,4,4,3,6,3]
print(removedup(dup))

[1, 2, 3, 4, 6]